.logout{
    color: #777;
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.dynamic-container{
    margin-bottom: 100px;
    margin-left : 10px;
    margin-right : 10px;
}


.position-center {
   horiz-align: center;
}